* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Courgette", cursive;
  font-size: 17px;
  padding-top: 2%;
}

.main {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}



button {
  cursor: pointer;
  color: white;
  background-color: rgb(26, 32, 194);
  border-radius: 14px;
  padding: 5px;
  font-family: "Courgette", cursive;
  text-decoration: none;
}
img {
  display: block;
  margin: 0 auto;
}

#about {
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
}
