*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courgette", cursive;
  padding-top: 2%;
  font-size: 15px;
}

.main{
    width: 50%;
    margin: 0 auto;
    text-align: center
}

button {
  cursor: pointer;
  color: white;
  background-color: rgb(26, 32, 194);
  border-radius: 14px;
  padding: 5px;
  font-family: "Courgette", cursive;
}
img {
  display: block;
  margin: 0 auto;
}
#index{
  text-decoration: none;
}
